# EditorConfig configuration
# http://editorconfig.org

# Top-most EditorConfig file
root = true

# No trailing whitespaces, but with a newline ending every file,
# UTF-8 charset, set indent to spaces with width of four
[*]
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4
