build*/*
docs
.vscode
perf.data
perf.data.old

CMakeBuild/
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.a
*.user*
*.autosave
*.diff
/Doxyfile
.DS_Store
.cache/
.cmake/

clients/sfizz_jack
clients/sfzprint

/plugins/vst/download/
/plugins/vst/external/vstsdk2.4/
/plugins/vst/external/CoreAudioUtilityClasses/

/plugins/editor/external/fluentui-system-icons/

*.sublime-*
*.code-*
.kak.tags.namecache
.clangd
