build*/*
docs
.vscode
perf.data
perf.data.old

CMakeBuild/
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.a
*.txt.user
*.autosave
/Doxyfile
.DS_Store

clients/sfizz_jack
clients/sfzprint

/vst/download/

/editor/external/fluentui-system-icons/

*.sublime-*
*.code-*
.kak.tags.namecache
.clangd
vst/external/CoreAudioUtilityClasses/
