[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
	branch = lts_2020_02_25
	shallow = true
[submodule "vst/external/VST_SDK/VST3_SDK/base"]
	path = vst/external/VST_SDK/VST3_SDK/base
	url = https://github.com/steinbergmedia/vst3_base.git
	shallow = true
[submodule "vst/external/VST_SDK/VST3_SDK/pluginterfaces"]
	path = vst/external/VST_SDK/VST3_SDK/pluginterfaces
	url = https://github.com/sfztools/vst3_pluginterfaces.git
	shallow = true
[submodule "vst/external/VST_SDK/VST3_SDK/public.sdk"]
	path = vst/external/VST_SDK/VST3_SDK/public.sdk
	url = https://github.com/sfztools/vst3_public_sdk.git
	shallow = true
[submodule "editor/external/pugl"]
	path = editor/external/pugl
	url = https://github.com/drobilla/pugl.git
[submodule "editor/external/elements"]
	path = editor/external/elements
	url = https://github.com/sfztools/elements.git
