build*
docs
.vscode
perf.data
perf.data.old

CMakeBuild/
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
*.a
*.txt.user
*.autosave

.DS_Store

clients/sfizz_jack
clients/sfzprint

# gh-pages unstaged files:
_api/
_site/
.bundle/
api/
assets/
node_modules/
.jekyll-cache
.jekyll-metadata
.sass-cache
*.lock
*.sublime-*
*.code-*

/vst/download
/vst/external/VST_SDK
