<!-- Favicon Generator Icons -->
		<link rel="apple-touch-icon" sizes="180x180"
			href="{{ '/assets/ico/apple-touch-icon.png' | relative_url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/ico/favicon-32x32.png' | relative_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/ico/favicon-16x16.png' | relative_url }}">
		<link rel="manifest" href="{{ '/assets/ico/site.webmanifest' | relative_url }}">
		<link rel="mask-icon" href="{{ '/assets/ico/safari-pinned-tab.svg' | relative_url }}"
			color="{{ site.realfavicongenerator.mask_icon_color }}">
		<link rel="shortcut icon" href="{{ '/assets/ico/favicon.ico' | relative_url }}">
		<meta name="msapplication-TileColor"
			content="{{ site.realfavicongenerator.msapplication_tile_color }}">
		<meta name="msapplication-config" content="{{ '/assets/ico/browserconfig.xml' | relative_url }}">
		<meta name="theme-color" content="{{ site.realfavicongenerator.theme_color }}">
