{%-for post in site.posts limit:5-%}
<h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>

<p>Posted on <time datetime="{{ post.date | datetime | date_to_xmlschema }}"
	{%-if updated-%}data-updated="true"{%-endif-%}>
		{{ post.date | date: page.date_fmt }}</time></p>

{{ post.content }}

	{%-if post.comments and site.disqus_shortname-%}
<p><a href="{{ post.url | relative_url }}#disqus_thread"
	data-disqus-identifier="{{ post.id | escape }}">Comments</a></p>
	{%-endif-%}
{%-endfor-%}

<p class="text-center" style="margin-top: 2em;">
	<a class="btn btn-lg btn-default" href="{{ '/news/archive/' | relative_url }}/">
		<i class="fa fa-calendar fa-fw"></i> News Archive</a>
</p>
