#searchresults {
	.cse .gsc-control-cse,
	.gsc-control-cse {
		padding: 0;
	}
	.gcsc-branding,
	.gsc-result-info,
	.gsc-table-result,
	.gsc-thumbnail-inside,
	.gsc-url-top,
	.gs-spelling,
	.gs-promotion table {
		padding-left: 0;
		padding-right: 0;
	}
	.gsc-adBlock {
		padding: 0;
	}
	.gsc-cursor {
		font-size: 14px;
	}
	.gsc-cursor-page {
		margin-left: -1px;
		padding: 4px 10px;
		border: 1px solid #ddd;
	}
	.gsc-results .gsc-cursor-box {
		margin-top: 2em;
	}
}
